body {
  margin:0;
}

#fullpage {
  min-width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.section {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  min-width: 100%;
  max-width: 100%;
}
