:root {
  font: normal Roboto;
  --primary: #3d67d1;
  --secondary: #0286ff;
  --tertiary: #07d2ff;
  --quaternary: #3ac6f2;
}

body {
  margin: 0;
}

#fullpage {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.section {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  min-width: 100%;
  max-width: 100%;
}

#intro,
.intro-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-wrapper {
  width: 70%;
  height: 50vh;
  text-align:center;
}

.intro-wrapper > * {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  line-height:2rem;
  font-size:1.25rem;
}

.intro-wrapper > * > * {
  display:flex;
  align-items:center;
  justify-content: center;
}

.intro-wrapper h3 {
  font: lighter italic "Roboto Light";
  margin:0;
}

.intro-wrapper > * :first-child {
  flex:0.2;
}

.intro-wrapper > * :last-child {
  flex:0.8;
}

.intro-wrapper h2 {
  margin:0;
  font-size:3rem;
  line-height: 2.5rem;
}

.intro-wrapper p {
  background-color:white;
  text-align: center;
}

.intro-content > img {
  outline:3px white solid;
=======
a {
  color: initial;
  text-decoration: none;
}

#projects {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.card {
  align-items: center;
  align-self: center;
  background: white;
  border-radius: 0.5rem;
  border: 1px black solid;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: center;
  margin: auto;
  width: 70%;
}

.card,
.card-heading,
.card-subheading {
  transition: 0.5s filter ease-in-out;
}

.card-heading {
  filter: invert(0);
}

.card-subheading {
  filter: invert(1);
}

.card:hover {
  filter: invert(1);
}

.card:hover>.card-subheading {
  filter: invert(0);
}

.card:hover>.card-heading {
  filter: invert(1);
}

#gallery {
  align-items: center;
  display: flex;
  justify-content: center;
}

.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 50vh;
  width: 50vw;
}

.gallery-card {
  grid-column: span 1;
  grid-row: span 1;
  outline: 1px black solid;
}

.gallery-card.tall {
  grid-row: span 2;
}

.gallery-card.wide {
  grid-column: span 2;
}